#gamePlayArea {
    span {
        position: relative;
    }
    .panel-1 {
        left: 9%;
        top: 95px;
    }
    .panel-2 {
        left: 19%;
        top: 61px;
    }
    .panel-3 {
        left: 31%;
        top: 11px;
    }
    .panel-4 {
        left: 47%;
        top: 61px
    }
    .panel-5 {
        left: 55%;
        top: 95px;
    }
}

#gamePlayArea .gpaRunScored {
    img {
        width: 100px;
        min-width: 100px;
    }
}