.stats-slider {
    div {
        display: none;
        &.active {
            display: inline-block;
        }
    }
}

#gamePlayArea .central-screens-content .central-screens-slider {
    & > div {
        display: none;
        &.active {
            display: inline-block;
        }
    }
}
