@import "../abstract/colors";

@mixin dark-accent-background-gradient($left-color, $right-color) {
    background: $right-color;
    background: -webkit-linear-gradient(to right,$left-color, $right-color);  
    background: linear-gradient(to right, $left-color, $right-color); 

}
#statsHeader {
    position: fixed;
    left: -1px;
    width: 103%;
    bottom: 2%;
    text-transform: uppercase;
}

#statsHeader.row {
    .column {
        float: left;
        padding: 10px;
        &.column-1, &.column-3 {
            @include dark-accent-background-gradient(darken($white, 5), $white);
            width: 41%;
            border-style:solid;
            border-color: $black;
        }
        &.column-1 {
            border-width: 2px 2px 2px 0;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        &.column-3 {
            border-width: 2px 0 2px 2px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        &.column-2 {
            width: 12%;
            text-align: center;            
            position: relative;
            top: -25px;
            padding-left: 0;
            padding-right: 0;
        }
        &.column-1-a, &.column-3-a {
            min-width: 42%;
        }
    }   
    &:after {
        content: "";
        display: table;
        clear: both;
    } 
}

#statsHeader .stats-slider {
    div {
        display: none;
        &.active {
            display: inline-block;
        }
    }
}

// Middle column
#statsHeader .big-score, #statsHeader .small-score  {
    border-radius: 40px;
    border: 2px solid $white;
    text-transform: uppercase;
}
#statsHeader .big-score {
    @include dark-accent-background-gradient($bright-accent, $dark-accent);
    color: $white;
    padding: 8px 18px;
    font-size: larger;
    font-weight: bold;
    margin: 2px 0;
}

#statsHeader .small-score {
    background: $bright-accent;
    color: $white;
    padding: 5px 12px;
    font-size: small;
    width: 50%;
    margin-left: 19px;
}

// All
#statsHeader .bright-display {
    color: $bright-accent;
    font-weight: bold;
    font-size: large;
}
#statsHeader .dark-display {
    color: $dark-accent;
    font-size: small;
    letter-spacing: 1px;
}
#statsHeader .black-display {
    color: $black;
    font-size: large;
}

#statsHeader .this-over {
    span {
        background-color: rgba($bright-accent, 0.1);
        margin-right: 1px;
        padding: 1px 8px;
        display: inline-block;
        width: 10px;
        height: 26px;
    }
}

// General

.fade-text {
    opacity: 0.8;
}
