@import "../abstract/colors";
@import "../abstract/mixins";
@import "../abstract/variables";

// Structuring stats header and its columns 

#statsHeader {
    position: fixed;
    left: -1px;
    width: 103%;
    bottom: 2%;
    text-transform: uppercase;
}

#statsHeader.row {
    .column {
        float: left;
        padding: 10px;

        &.column-1, &.column-3, &.column-4, 
        &.column-5, &.column-2  {
            min-height: 40px;
            padding: 7px 23px 7px 28px;
        }
        &.column-1, &.column-3 {
            @include dark-accent-background-gradient(darken($white, 10), $white);
            width: 17%;
            box-shadow: $component-shadow;
            margin-left: 2px;
        }
        &.column-4, &.column-5 {
            @include dark-accent-background-gradient(darken($white, 5), $white);
            border-radius: $component-border-radius;
            width: 18%;
            box-shadow: $component-shadow;
            padding-top: 8px;
        }
        &.column-1 {
            @include border-radius-corners($component-border-radius, $component-border-radius, 0, 0);
        }
        &.column-3 {
            @include border-radius-corners( 0, 0, $component-border-radius, $component-border-radius);
        }
        &.column-2 {
            width: 12%;
            text-align: center;            
            position: relative;
            top: -13px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 4px;
        }
    }   
    &:after {
        content: "";
        display: table;
        clear: both;
    } 
}

// Central score styling

#statsHeader .big-score, 
#statsHeader .big-score div:first-child, 
#statsHeader .small-score  {
    box-shadow: $component-shadow;
    border-radius: 40px;
    text-transform: uppercase;
    color: $white;
}

#statsHeader .big-score {
    background-color: $dark-accent;
    font-size: larger;
    font-weight: bold;
    margin: 2px 0;
 
    div {
        @include comet-gradient-effect($dark-accent, $bright-accent);
        padding: 3px 1px;
    }
}

#statsHeader .small-score {
    background: $bright-accent;
    padding: 5px 12px;
    font-size: small;
    width: 50%;
    margin-left: 35px;
}


// Other styling for this component

#statsHeader .bright-display {
    color: $bright-accent;
    font-weight: 800;
    font-size: large;
    letter-spacing: -0.5px;
    word-spacing: 2px;
    text-shadow: none;
}

#statsHeader .dark-display {
    color: $dark-accent;
    font-size: small;
    letter-spacing: 1px;
    font-weight: 600;
}

#statsHeader .black-display {
    color: $black;
    font-size: large;
    font-weight: 600;
}

#statsHeader .this-over {
    margin-left: -3px;

    & > span {
        @include dark-accent-background-gradient(rgba($bright-accent, 0.04), rgba($bright-accent, 0.09));
        margin-right: 1px;
        padding: 1px 8px;
        display: inline-block;
        width: 13px;
        height: 24px;
        text-align: center;
        border-radius: 90px;
    }
}

.ad-roll img {
    height: 35px;
    width: 100%;
}